@tailwind base;
@tailwind components;
@tailwind utilities;




.bothalign { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
}

.bothalignb {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);   
}

.gradientbottom {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 69.79%);
    background-blend-mode: multiply;
}

.gradientbottom2 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    background-blend-mode: multiply;
}

.gradienttop {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 69.79%);
background-blend-mode: multiply;
transform: rotate(-180deg);
}

.gradienttop2 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
background-blend-mode: multiply;
transform: rotate(-180deg);
}

.hometext {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 13vw;
line-height: 70%;
/* or 70% */

letter-spacing: -0.1em;
text-transform: uppercase;
}

.learnmore {
    font-family: 'Signika';
font-style: normal;
font-weight: 500;
font-size: 2vw;
line-height: 25px;
/* identical to box height */

letter-spacing: -0.015em;
text-transform: uppercase;


}

.clearfix {
    clear: both;
    display: table;
}

.left_marquee {
    animation: scroll-left 30s cubic-bezier(.1,.35,.9,.65) infinite;
}


@keyframes scroll-left {
    0% {
        transform: translateX(70%);
    }
    100% {
        transform: translateX(-70%);
    }
}

.right_marquee {
    animation: scroll-right 30s cubic-bezier(.1,.35,.9,.65) infinite;
}


@keyframes scroll-right {
    0% {
 
        transform: translateX(-70%);
    }
    100% {

        transform: translateX(70%);
    }
    
}

.image_effect img{
    transition: all .5s ease-in-out;
}

.image_effect:hover img {
    transform: scale(1.05);
    /* position: relative; */
    z-index: 1;
}

@keyframes moveInLeft {
    0% {
 
        transform: translateX(-150%);
    }
    100% {

        transform: translateX(0%);
    }
}

.loadLeft {
    animation: moveInLeft 0.5s ease-in-out, 0s;
}