//Setting up variables
$body-bg: #303f9f;
$nav-color: #f2f2f2;
$main-color: white;
$spin: rotate(135deg);
$reverse-spin: rotate(-135deg);
$default-spin: rotate(0deg);
$duration: 0.4s;
$type: ease-in-out;
$sidebar-color: #263238;
$black: #222;

//Basic wrapper align
.burgerAlign {
  //   height: 100%;
  width: 100%;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
  position: fixed;
  display: flex;
  z-index: 50;
  justify-content: right;
  align-items: right;
  align-content: right;
}

.simplyburger {
  width: 35px;
  height: 45px;
  transform: $default-spin;
  transition: $duration * 2 $type;
  cursor: pointer;
}

//Neat trick to draw the menu lines. Spans with display:block/height and poof!
.simplyburger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: $main-color;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: $default-spin;
  transition: all $duration $type;
}

//Align spans to be below each other
.simplyburger span:nth-child(1) {
  top: 0px;
}

.simplyburger span:nth-child(2) {
  top: 10px;
}

.simplyburger span:nth-child(3) {
  top: 20px;
}

.simplyburgeropen span {
  background: $nav-color;
}

//On click (see JS/jQuery) rotate 1st and 3rd span 135/-135 degrees in order to draw an X symbol. You can achieve the same result with -45/45 degrees, but this is more catchy for the user.
.simplyburgeropen span:nth-child(1) {
  top: 10px;
  transform: $spin;
}

//We only need 2 span lines for the X, so we just gonna throw the middle line away.
.simplyburgeropen span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.simplyburgeropen span:nth-child(3) {
  top: 10px;
  transform: $reverse-spin;
}

@keyframes bggrow {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(100);
  }
}

.bg {
  // visibility: hidden;
  width: 1px;
  height: 1px;
  position: fixed;

  top: 11px;
  right: 16px;
  background-color: black;
  border-radius: 100%;

  transition: all;

  animation: zoom $duration ease-in-out 1 reverse;
}

.bgoopen {
  // visibility: visible;
  width: 50px;
  height: 50px;
  position: fixed;

  top: 11px;
  right: 16px;
  background-color: black;
  border-radius: 100%;
  animation: zoom $duration ease-in;
  transform: scale(100);
}

@keyframes zoom {
  0% {
    transform: scale(0);
    width: 50px;
    height: 50px;
  }
  100% {
    transform: scale(100);
    width: 50px;
    height: 50px;
  }
}

@keyframes come-in-right {
  0% {
    color: #ffffff00;
    transform: translateX(-200%);
  }
  85% {
    transform: translateX(20%);
  }
  100% {
    color: #ffffff;

    transform: translateX(00%);
  }
}

.navanim {

  animation: come-in-right 0.4s linear 0.5s 1 normal backwards;
}
